
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home - About</h1>
@section BreadCrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/home/index">Home</a></li>
            <li class="breadcrumb-item"><a href="#">About</a></li>
            <li class="breadcrumb-item"><a href="~/home/privacy">Privacy</a></li>
        </ol>
    </nav>
}
