
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home - Index</h1>

<img src="~/images/msa-small.png" alt="Msa biztech logo" />


@*<img src="~/MyImages/logo-3.png" />*@

<img src="~/MyImages/logo-big-gray.png" />
<br />
<input type="button" value="Click Me" class="btn bg-danger" id="btn"/>
<h1 class="h1">Welcome to bookstore app</h1>
<script type="text/javascript">

    $(document).ready(function () {
        
        alert('hi');
    });
</script>