
@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home - Privacy</h1>
@section BreadCrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/home/index">Home</a></li>
            <li class="breadcrumb-item"><a href="~/home/about">About</a></li>
            <li class="breadcrumb-item"><a href="#">Privacy</a></li>
        </ol>
    </nav>
}

