
@{
    ViewData["Title"] = "Buttons";
    Layout = "~/Views/Shared/_LayoutBS.cshtml";
}
@*@Html.Partial("~/Views/Shared/_BSNav.cshtml")*@
<h1>Bootstrap Buttons</h1>
<div>
    <p>
        Here are different types of buttons available in bootstrap
    </p>
</div>
<h3>Button type="button": Bellow are few of button classes available</h3>
<div class="row container-sm rd-pad2">
    <div class="col-5"> < button type="button" ></div>
    <div class="col-6">
        <button type="button">btn</button>
        <br />
    </div>
</div>

<div class="row container-sm rd-pad2">
    <div class="col-5">< button type="button" class="btn" ></div>
    <div class="col-6">
        <button type="button" class="btn">btn</button>
        <br />
    </div>
</div>

<div class="row container-sm rd-pad2">
    <div class="col-5">< button type="button" class="btn btn-primary ></div>
    <div class="col-6">
        <button type="button" class="btn btn-primary">btn btn-primary</button>
        <br />
    </div>
</div>

<div class="row container-sm rd-pad2">
    <div class="col-5"> < input type="submit" class="btn btn-primary" ></div>
    <div class="col-6">
        <input type="submit" class="btn btn-primary" value="btn btn-primary" />
        <br />
    </div>
</div>

<div class="row container-sm rd-pad2">
    <div class="col-5">< button type="button" class="btn btn-secondary" ></div>
    <div class="col-6">
        <button type="button" class="btn btn-secondary">btn btn-secondary</button>
        <br />
    </div>
</div>

<div class="row container-sm rd-pad2">
    <div class="col-5">< button type="button" class="btn btn-success" ></div>
    <div class="col-6">
        <button type="button" class="btn btn-success">btn btn-success</button>
        <br />
    </div>
</div>

<div class="row container-sm rd-pad2">
    <div class="col-5">< button type="button" class="btn btn-danger" ></div>
    <div class="col-6">
        <button type="button" class="btn btn-danger">btn btn-danger</button>
        <br />
    </div>
</div>

<div class="row container-lg rd-pad2">
    <div class="col-5">< button type="button" class="btn btn-warning" ></div>
    <div class="col-6">
        <button type="button" class="btn btn-warning">btn btn-warning</button>
        <br />
    </div>
</div>
<div class="row container-lg rd-pad2">
    <div class="col-5">< button type="button" class="btn-warning" ></div>
    <div class="col-6">
        <button type="button" class="btn-warning">btn-warning</button>
        <br />
    </div>
</div>
<div class="row container-lg rd-pad2">
    <div class="col-5">< button type="button" class="btn btn-info" ></div>
    <div class="col-6">
        <button type="button" class="btn btn-info">btn btn-info</button>
        <br />
    </div>
</div>

<div class="row container-sm rd-pad2">
    <div class="col-5">< button type="button" class="btn btn-light" ></div>
    <div class="col-6">
        <button type="button" class="btn btn-light">btn btn-light</button>
        <br />
    </div>
</div>
<div class="row container-sm rd-pad2">
    <div class="col-5">< button type="button" class="btn btn-dark" ></div>
    <div class="col-6">
        <button type="button" class="btn btn-dark">btn btn-dark</button>
        <br />
    </div>
</div>
<div class="row container-sm rd-pad2">
    <div class="col-5">< button type="button" class="btn btn-link" ></div>
    <div class="col-6">
        <button type="button" class="btn btn-link">btn btn-link</button>
        <br />
    </div>
</div>
