
@{
    ViewData["Title"] = "Grid";
   // Layout = "~/Views/Shared/_LayoutBS.cshtml";
}

<h3>Grid System in Layout</h3>
<div class="container rd-border5Blue">

    <h3 class="text-center">Extra Large>=1200px - class="col-xl-2</h3>
    <div class="row rd-border10Yellow">
        <div class="col-xl-2 rd-border5Blue rd-height60Red"></div>
        <div class="col-xl-2 rd-border5Blue rd-height60Grey"></div>
        <div class="col-xl-2 rd-border5Blue rd-height60Greenyellow"></div>
        <div class="col-xl-2 rd-border5Blue rd-height60Chocolate"></div>
        <div class="col-xl-2 rd-border5Blue  rd-height60Red"></div>
        <div class="col-xl-2 rd-border5Blue  rd-height60Grey"></div>
    </div>


    <h3 class="text-center">xl>=1200px - "col-xl-2"</h3>
    <h3 class="text-center">lg>=992px and < 1200 - "col-xl-2 col-lg-3"</h3>
    <h3 class="text-center">md>=768px and < 576  - "col-xl-2 col-lg-3 col-md-4"</h3>
    <h3 class="text-center">sm>=576px and < 768  - "col-xl-2 col-lg-3 col-md-4 col-sm-6"</h3>
    <div class="row rd-border10Yellow">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 rd-border5Blue rd-height60Red"></div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 rd-border5Blue rd-height60Grey"></div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 rd-border5Blue rd-height60Greenyellow"></div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 rd-border5Blue rd-height60Chocolate"></div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 rd-border5Blue  rd-height60Red"></div>
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 rd-border5Blue  rd-height60Grey"></div>
    </div>
    <h3 class="text-center">Extra Small< 576px - class="col-1"</h3>
    <div class="row rd-border10Lime">
        <div class="col-1 rd-border5Blue rd-height60Red">1</div>
        <div class="col-1 rd-border5Blue rd-height60Grey">2</div>
        <div class="col-1 rd-border5Blue rd-height60Greenyellow">3</div>
        <div class="col-1 rd-border5Blue rd-height60Chocolate">4</div>
        <div class="col-1 rd-border5Blue  rd-height60Red">5</div>
        <div class="col-1 rd-border5Blue  rd-height60Grey">6</div>
        <div class="col-1 rd-border5Blue rd-height60Red">7</div>
        <div class="col-1 rd-border5Blue rd-height60Grey">8</div>
        <div class="col-1 rd-border5Blue rd-height60Greenyellow">9</div>
        <div class="col-1 rd-border5Blue rd-height60Chocolate">10</div>
        <div class="col-1 rd-border5Blue  rd-height60Red">11</div>
        <div class="col-1 rd-border5Blue  rd-height60Grey">12</div>
    </div>

    <h3 class="text-center">Extra Large>=1200px - class="col-xl-2</h3>
    <div class="row rd-border10Yellow">
        <div class="col-xl-2 rd-border5Blue rd-height60Red"></div>
        <div class="col-xl-2 rd-border5Blue rd-height60Grey"></div>
        <div class="col-xl-2 rd-border5Blue rd-height60Greenyellow"></div>
        <div class="col-xl-2 rd-border5Blue rd-height60Chocolate"></div>
        <div class="col-xl-2 rd-border5Blue  rd-height60Red"></div>
        <div class="col-xl-2 rd-border5Blue  rd-height60Grey"></div>
    </div>

    <h3 class="text-center">Large>=992px - class="col-lg-2</h3>
    <div class="row rd-border10Green">
        <div class="col-lg-2 rd-border5Blue rd-height60Red"></div>
        <div class="col-lg-2 rd-border5Blue rd-height60Grey"></div>
        <div class="col-lg-2 rd-border5Blue rd-height60Greenyellow"></div>
        <div class="col-lg-2 rd-border5Blue rd-height60Chocolate"></div>
        <div class="col-lg-2 rd-border5Blue  rd-height60Red"></div>
        <div class="col-lg-2 rd-border5Blue  rd-height60Grey"></div>
    </div>

    <h3 class="text-center">Medium>=768px - class="col-md-2</h3>
    <div class="row rd-border10Pink">
        <div class="col-md-2 rd-border5Blue rd-height60Red"></div>
        <div class="col-md-2 rd-border5Blue rd-height60Grey"></div>
        <div class="col-md-2 rd-border5Blue rd-height60Greenyellow"></div>
        <div class="col-md-2 rd-border5Blue rd-height60Chocolate"></div>
        <div class="col-md-2 rd-border5Blue  rd-height60Red"></div>
        <div class="col-md-2 rd-border5Blue  rd-height60Grey"></div>
    </div>


    <h3 class="text-center">Small>=576px - class="col-sm-2"</h3>
    <div class="row rd-border10Lime">
        <div class="col-sm-2 rd-border5Blue rd-height60Red"></div>
        <div class="col-sm-2 rd-border5Blue rd-height60Grey"></div>
        <div class="col-sm-2 rd-border5Blue rd-height60Greenyellow"></div>
        <div class="col-sm-2 rd-border5Blue rd-height60Chocolate"></div>
        <div class="col-sm-2 rd-border5Blue  rd-height60Red"></div>
        <div class="col-sm-2 rd-border5Blue  rd-height60Grey"></div>
    </div>


    <h3 class="text-center">Extra Small<576px - class="col-2"</h3>
    <div class="row rd-border10Lime">
        <div class="col-2 rd-border5Blue rd-height60Red"></div>
        <div class="col-2 rd-border5Blue rd-height60Grey"></div>
        <div class="col-2 rd-border5Blue rd-height60Greenyellow"></div>
        <div class="col-2 rd-border5Blue rd-height60Chocolate"></div>
        <div class="col-2 rd-border5Blue  rd-height60Red"></div>
        <div class="col-2 rd-border5Blue  rd-height60Grey"></div>
    </div>

    <h3 class="text-center">Auto width column - class="col"</h3>
    <div class="row rd-border10Lime">
        <div class="col rd-border5Blue rd-height60Red">1</div>
        <div class="col rd-border5Blue rd-height60Grey">2</div>
        <div class="col rd-border5Blue rd-height60Greenyellow">3</div>
        <div class="col rd-border5Blue rd-height60Chocolate">4</div>
        <div class="col rd-border5Blue  rd-height60Red">5</div>
        <div class="col-3 rd-border5Blue  rd-height60Grey">6</div>
        <div class="col-2 rd-border5Blue  rd-height60Red">7</div>
        <div class="col rd-border5Blue  rd-height60Grey">8</div>
        <div class="col rd-border5Blue  rd-height60Red">9</div>
        <div class="col rd-border5Blue  rd-height60Grey">10</div>
        <div class="col rd-border5Blue  rd-height60Red">11</div>
        <div class="col rd-border5Blue  rd-height60Grey">12</div>

    </div>

    <h3 class="text-center">Column Break - < div class="w-100" ></h3>
    <div class="row rd-border10Lime">
        <div class="col-4 rd-border5Blue rd-height60Red">1</div>
        <div class="col-4 rd-border5Blue rd-height60Grey">2</div>
        <div class="w-100"></div>
        <div class="col-4 rd-border5Blue rd-height60Greenyellow">3</div>
        <div class="w-100"></div>
        <div class="col-4 rd-border5Blue rd-height60Chocolate">4</div>


    </div>

    <h3 class="text-center">Order Column - order-first/last</h3>
    <div class="row rd-border10Lime">
        <div class="col-2  rd-border5Blue rd-height60Red">1</div>
        <div class="col-2 rd-border5Blue rd-height60Grey">2</div>
        <div class="col-2 order-last rd-border5Blue rd-height60Greenyellow">3 wiht order-last</div>
        <div class="col-2 order-first rd-border5Blue rd-height60Chocolate">4 with order-first</div>
        <div class="col-2 rd-border5Blue rd-height60Green">5</div>
        <div class="col-2 rd-border5Blue rd-height60Pink">6</div>
    </div>
    <h3 class="text-center">Order Column - order-fixed position - have to set all positions</h3>
    <div class="row rd-border10Lime">
        <div class="col-2  order-6 rd-border5Blue rd-height60Red">1 with order-6</div>
        <div class="col-2 order-1 rd-border5Blue rd-height60Grey">2 with order-1</div>
        <div class="col-2 order-2 rd-border5Blue rd-height60Greenyellow">3 wiht order-2</div>
        <div class="col-2 order-first rd-border5Blue rd-height60Chocolate">4 with order-first</div>
        <div class="col-2 order-4 rd-border5Blue rd-height60Green">5 with order-4</div>
        <div class="col-2 order-5 rd-border5Blue rd-height60Pink">6 with order-5 </div>
    </div>

    <h3 class="text-center">Column - Offset "offset-md-6 offset-sm-4" </h3>
    <div class="row rd-border10Lime">
        <div class="col-md-3 rd-border5Blue rd-height60Red">1 </div>
        <div class="col-md-3 offset-md-6 offset-sm-4 rd-border5Blue rd-height60Grey">2 </div>
    </div>

    <h3 class="text-center">Nesting of columns in rows" </h3>
   
    <div class="row rd-border10Lime">
        <div class="col-6 rd-border5Blue rd-height60Red"> 
            <div class="row">
                <div class="col-1 rd-border5Blue rd-height60Red">1</div>
                <div class="col-1 rd-border5Blue rd-height60Grey">2</div>
                <div class="col-1 rd-border5Blue rd-height60Greenyellow">3</div>
                <div class="col-1 rd-border5Blue rd-height60Chocolate">4</div>
                <div class="col-1 rd-border5Blue  rd-height60Red">5</div>
                <div class="col-1 rd-border5Blue  rd-height60Grey">6</div>
                <div class="col-1 rd-border5Blue  rd-height60Red">7</div>
                <div class="col-1 rd-border5Blue  rd-height60Grey">8</div>
                <div class="col-1 rd-border5Blue  rd-height60Red">9</div>
                <div class="col-1 rd-border5Blue  rd-height60Grey">10</div>
                <div class="col-1 rd-border5Blue  rd-height60Red">11</div>
                <div class="col-1 rd-border5Blue  rd-height60Grey">12</div>
            </div>
        </div>
        <div class="col-6 rd-border5Blue rd-height60Pink">2 </div>
    </div>
</div>

