
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutBS.cshtml";
}
@*@Html.Partial("~/Views/Shared/_BSNav.cshtml")*@
<h1>Bootstrap Index</h1>
<div>
    <p>
        This is the index page of Bootstrap tutorial
    </p>
</div>