
@{
    ViewData["Title"] = "Layout";
    //Layout = "~/Views/Shared/_LayoutBS.cshtml";
}

<h1>Layout</h1>

<div class="container-fluid rd-bgYellow">This is Classs "Container-fluid". This is Classs "Container-fluid"</div>
<div class="container rd-bgCyan">This is Classs "Container". This is Classs "Container"</div>
<div class="container-md rd-bgPink">This is Classs "Container". This is Classs "Container"</div>
<br />
<br />
<div class="container-sm rd-bgCyan">100% wide until small breakpoint</div>
<div class="container-md rd-bgDarkGrey">100% wide until medium breakpoint</div>
<div class="container-lg rd-bgYellow">100% wide until large breakpoint</div>
<div class="container-xl rd-bgPink">100% wide until extra large breakpoint</div>
<br />
<h3>Row-Columns Division-11 colums</h3>
<div class="row">
    <div class="col-1 rd-bgCyan">1</div>
    <div class="col-1 rd-bgDarkGrey">2</div>
    <div class="col-1 rd-bgPeru">3</div>
    <div class="col-1 rd-bgPink">4</div>
    <div class="col-1 rd-bgYellow">5</div>
    <div class="col-1 rd-bgCyan">6</div>
    <div class="col-1 rd-bgDarkGrey">7</div>
    <div class="col-1 rd-bgPeru">8</div>
    <div class="col-1 rd-bgPink">9</div>
    <div class="col-1 rd-bgYellow">10</div>
    <div class="col-1 rd-bgPink">11</div>

</div>
<br />
<h3>Row-Columns Division-12 columns</h3>
<div class="row">
    <div class="col-1 rd-bgCyan">1</div>
    <div class="col-1 rd-bgDarkGrey">2</div>
    <div class="col-1 rd-bgPeru">3</div>
    <div class="col-1 rd-bgPink">4</div>
    <div class="col-1 rd-bgYellow">5</div>
    <div class="col-1 rd-bgCyan">6</div>
    <div class="col-1 rd-bgDarkGrey">7</div>
    <div class="col-1 rd-bgPeru">8</div>
    <div class="col-1 rd-bgPink">9</div>
    <div class="col-1 rd-bgYellow">10</div>
    <div class="col-1 rd-bgPink">11</div>
    <div class="col-1 rd-bgYellow">12</div>
</div>
<br />
<h3>Row-Columns Division-14 columns</h3>
<div class="row">
    <div class="col-1 rd-bgCyan">1</div>
    <div class="col-1 rd-bgDarkGrey">2</div>
    <div class="col-1 rd-bgPeru">3</div>
    <div class="col-1 rd-bgPink">4</div>
    <div class="col-1 rd-bgYellow">5</div>
    <div class="col-1 rd-bgCyan">6</div>
    <div class="col-1 rd-bgDarkGrey">7</div>
    <div class="col-1 rd-bgPeru">8</div>
    <div class="col-1 rd-bgPink">9</div>
    <div class="col-1 rd-bgYellow">10</div>
    <div class="col-1 rd-bgPink">11</div>
    <div class="col-1 rd-bgYellow">12</div>
    <div class="col-1 rd-bgPink">13</div>
    <div class="col-1 rd-bgYellow">14</div>
</div>


<br />
<h3>Row-Columns merged columns</h3>
<div class="row">
    <div class="col-2 rd-bgCyan">col-2</div>
    <div class="col-3 rd-bgDarkGrey">col-3</div>
    <div class="col-4 rd-bgPeru">col-4</div>
    <div class="col-3 rd-bgPink">col-3</div>

</div>

<br />
<h3>Row-Columns merged columns</h3>
<div class="row">
    <div class="col-2 rd-bgCyan">col-2</div>
    <div class="col-3 rd-bgDarkGrey">col-3</div>
    <div class="col-4 rd-bgPeru">col-4</div>
    <div class="col-4 rd-bgPink">col-4</div>

</div>


