
@{
    ViewData["Title"] = "Media";

}

<h1>Media</h1>

<div class="container rd-border2Blue mb-2">
    <h3 class="text-center">Media</h3>
    <div class="media">
        <img src="~/images/msa-small.png" class="mr-3 align-self-auto" />
        <div class="media-body ">
            <h5>Comment1 from Rashid ansari</h5>
            <p>
                This is the comment description.This is the comment description.
                This is the comment description.This is the comment description.This is the comment description.<br />
                This is the comment description.This is the comment description.
                This is the comment description.This is the comment description.This is the comment description.
            </p>
        </div>
    </div>
</div>

<div class="container rd-border2Blue mb-2">
    <h3 class="text-center">Media</h3>
    <div class="media">
        <img src="~/images/msa-small.png" class="mr-3 align-self-end" />
        <div class="media-body ">
            <h5>Comment2 from Rashid ansari</h5>
            <p>
                This is the comment description.This is the comment description.
                This is the comment description.This is the comment description.This is the comment description.
                This is the comment description.This is the comment description.
                This is the comment description.This is the comment description.This is the comment description.<br />
                This is the comment description.This is the comment description.
                This is the comment description.This is the comment description.This is the comment description.
            </p>
        </div>
    </div>
</div>

<div class="container rd-border2Blue mb-2">
    <h3 class="text-center">Media</h3>
    <div class="media">
        <img src="~/images/msa-small.png" class="mr-3 align-self-center" />
        <div class="media-body ">
            <h5>Comment3 from Rashid ansari</h5>
            <p>
                This is the comment description.This is the comment description.
                This is the comment description.This is the comment description.This is the comment description.<br />
                This is the comment description.This is the comment description.
                This is the comment description.This is the comment description.This is the comment description.
            </p>
        </div>
    </div>
</div>

<div class="container rd-border2Blue mb-2">
    <h3 class="text-center">Media</h3>
    <div class="media">

        <div class="media-body ">
            <h5>Comment4 from Rashid ansari</h5>
            <p>
                This is the comment description.This is the comment description.
                This is the comment description.This is the comment description.This is the comment description.<br />
                This is the comment description.This is the comment description.
                This is the comment description.This is the comment description.This is the comment description.
            </p>
        </div>
        <img src="~/images/msa-small.png" class="mr-3 mb-1 align-self-end" />
    </div>
</div>
<hr />
<h1>Multiple Media List Item - Using Repeated List</h1>

<div class="container rd-border2Blue mb-2">
    <ul>
        <li class="media">
            <img src="~/images/msa-small.png" class="mr-3 mb-1 mt-1" />
            <div class="media-body ">
                <h5>Comment1 Using Repeated List UL-LI</h5>
                <p>
                    This is the comment description.This is the comment description.
                    This is the comment description.This is the comment description.This is the comment description.<br />
                    This is the comment description.This is the comment description.
                    This is the comment description.This is the comment description.This is the comment description.
                </p>
            </div>
        </li>
        <li class="media">
            <img src="~/images/msa-small.png" class="mr-3 mb-1 mt-1" />
            <div class="media-body">
                <h5>Comment2 Using Repeated List UL-LI</h5>
                <p>
                    This is the comment description.This is the comment description.
                    This is the comment description.This is the comment description.This is the comment description.<br />
                    This is the comment description.This is the comment description.
                    This is the comment description.This is the comment description.This is the comment description.
                </p>
            </div>
        </li>
        <li class="media">

            <div class="container rd-border2Blue mb-2 ml-3">
                <ul>
                    <li class="media">
                        <div class="media-body">
                            <h3>Replies - Nested Media</h3>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="media">
                        <img src="~/images/msa-small.png" class="mr-3 mb-1 mt-1" />
                        <div class="media-body">
                            <h5>Reply Comment1 Using Repeated List UL-LI</h5>
                            <p>
                                This is the comment description.This is the comment description.
                                This is the comment description.This is the comment description.This is the comment description.<br />
                            </p>
                        </div>
                    </li>
                    <li class="media">
                        <img src="~/images/msa-small.png" class="mr-3 mb-1 mt-1" />
                        <div class="media-body">
                            <h5>Reply Comment2 Using Repeated List UL-LI</h5>
                            <p>
                                This is the comment description.This is the comment description.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

</div>