
@{
    ViewData["Title"] = "Position";
}

<h1>Position</h1>
<div class="container rd-border5Blue bg-light">
    <h3 class="text-center">Common values</h3>
    <div class="position-static rd-bgCyan rd-height60Grey rd-border2Blue" style="opacity:.4;"> position-static </div>
    <div>This is another div</div>
    <div class="position-relative  rd-bgYellow rd-height60Chocolate  rd-border2Red" style="opacity:.4;"> position-relative </div>
    <div class="position-absolute  rd-bgPink rd-height60Greenyellow  rd-border2Blue" style="opacity:.4;"> position-absolute </div>
    <div class="position-fixed   rd-bgPeru rd-height60Pink  rd-border2Red" style="opacity:.4;"> position-fixed </div>

    <br />  <br />
    <div class="row rd-border10Yellow position-static">
        <div class="col-xl-2 ">position-static</div>
    </div>
    <div class="position-sticky  rd-bgDarkGrey rd-height100Red rd-border2Blue" style="opacity:.4;"> position-sticky </div>
    <div class="row rd-border10Yellow fixed-top rd-bgPink w-25"  style="opacity:.7">
        <div class="col-xl-2 ">FIXED TOP - This is another div</div>
    </div>
    <div class="row rd-border10Yellow fixed-bottom  rd-bgPink" style="opacity:.7">
        <div class="col-xl-2 ">This is another div</div>
    </div>
    <div class="row rd-border10Yellow sticky-top bg-success"  style="opacity:.8">
        <div class="col-xl-2 ">STICKY TOP - This is another div -STICKY TOP - STICKY TOP - </div>
    </div>
    <div class="row rd-border10Yellow">
        <div class="col-xl-2 ">This is another div</div>
    </div>
    <div class="row rd-border10Yellow">
        <div class="col-xl-2 ">This is another div</div>
    </div>
    <div class="row rd-border10Yellow">
        <div class="col-xl-2 ">This is another div</div>
    </div>
    <div class="row rd-border10Yellow">
        <div class="col-xl-2 ">This is another div</div>
    </div>
    <div class="row rd-border10Yellow">
        <div class="col-xl-2 ">This is another div</div>
    </div>
    <div class="row rd-border10Yellow">
        <div class="col-xl-2 ">This is another div</div>
    </div>
    <div class="row rd-border10Yellow">
        <div class="col-xl-2 ">This is another div</div>
    </div>
    <div class="row rd-border10Yellow">
        <div class="col-xl-2 ">This is another div</div>
    </div>
    <div class="row rd-border10Yellow">
        <div class="col-xl-2 ">This is another div</div>
    </div>
    <div class="row rd-border10Yellow">
        <div class="col-xl-2 ">This is another div</div>
    </div>
    <div class="row rd-border10Yellow">
        <div class="col-xl-2 ">This is another div</div>
    </div>
</div>
