<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rashid Core Book Store</title>

    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/fa-5.13.0-web/css/all.css" rel="stylesheet" />
    <script src="~/fa-5.13.0-web/js/all.js"></script>

</head>
<body>
    <header>
        <nav class="navbar  navbar-expand-md navbar-dark bg-dark fixed-top">

            <!-- 1. This is the brand section to display site logo and brand name-->
            <a class="navbar-brand" href="/">Book Store</a>

            <!-- 2. This navbar-toggler section will render the navbar on mobile devices -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- 3. this section below will contain the navigation menu -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!--Display Left Side Links-->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tutorials
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="~/Linq/LinqIndex">Linq Index</a>
                            <a class="dropdown-item" href="~/EF/EFIndex">EF Index</a>
                            <a class="dropdown-item" href="~/BS/BSIndex">BS Index</a>
                            <a class="dropdown-item" href="~/MVC/MVCIndex">MVC Index</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Test Link</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Book/GetAllBooks">All Books <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="~/home/Privacy">Privacy <span class="sr-only">(current)</span></a>
                    </li>

                </ul>

                <!--Display Search Box-->
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>&nbsp;&nbsp;&nbsp;&nbsp;
                </form>

                <!--Display Right Side Links-->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="btn btn-outline-primary" href="~/home/login">Login</a>&nbsp;
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="~/home/register">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="container" style="padding-top:70px;">
        @RenderSection("BreadCrumb", required: false)
        @*<div class="container">*@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container">
            &copy; 2020 - AspNetCoreStudyMesh - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!--Using CDN for Bootstrap
        Many of Bootstrap components require the use of JavaScript to function. Specifically, they require jQuery, Popper.js,
        and thier own JavaScript plugins. Place the following <script>s near the end of your pages, right before the
        closing </body> tag, to enable them. jQuery must come first, then Popper.js, and then our JavaScript plugins.
        -->
    @*<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>*@


    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("CustomScripts", required: false)
</body>
</html>
