<nav class="navbar  navbar-expand-md navbar-dark bg-warning">
    <!-- 3. this section below will contain the navigation menu -->
    <!--Display Left Side Links-->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="MVCIndex">MVC Index<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active nav-link">
            |
        </li>
        @*<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tutorials
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="~/home/About">About</a>
                    <a class="dropdown-item" href="~/home/Privacy">Privacy</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Test Link</a>
                </div>
            </li>*@
        <li class="nav-item active">
            <a class="nav-link" href="ViewBagViewData">ViewBagViewData <span class="sr-only">(current)</span></a>
        </li>

    </ul>

</nav>